Repository holoviz/holoviews, pull requests merged in 2018-05, with the labels that each got.

#2643 Fixed bug disabling axis labels with labelled option
  holoviews/plotting/bokeh/element.py
  tests/plotting/bokeh/testelementplot.py
Labels: bokeh, bug

#2653 Fixed unicode bug in XArrayInterface
  holoviews/core/data/xarray.py
Labels: bug, data

#2646 Optimize display of large DynamicMap parameter space
  holoviews/core/util.py
  holoviews/plotting/plot.py
  holoviews/plotting/widgets/__init__.py
Labels: enhancement

#2657 Made Div signature consistent
  holoviews/element/annotation.py
Labels: API

#2660 Fixed slicing on inverted axis in xarray
  holoviews/core/data/xarray.py
  tests/core/data/testdataset.py
Labels: bug, data

#2654 Sort dynamic dimension values in widget constructor
  holoviews/core/spaces.py
  holoviews/plotting/widgets/__init__.py
  tests/plotting/bokeh/testwidgets.py
  tests/plotting/testplotutils.py
Labels: bug

#2663 Ensure PolyDraw data has consistent keys on initialization
  holoviews/plotting/bokeh/callbacks.py
Labels: API, bug

#2662 Fixed updates to QuadMesh colorbar
  holoviews/plotting/mpl/raster.py
  tests/plotting/matplotlib/testquadmeshplot.py
Labels: bug, mpl

#2664 GridSpace and GridPlot fixes
  holoviews/core/spaces.py
  holoviews/plotting/bokeh/plot.py
  holoviews/plotting/bokeh/util.py
  tests/core/testlayouts.py
Labels: bokeh, bug

#2666 Allow changes to columns in bokeh CDS
  .travis.yml
  holoviews/plotting/bokeh/plot.py
  holoviews/plotting/bokeh/tabular.py
  tests/plotting/bokeh/testelementplot.py
  tests/plotting/bokeh/testtabular.py
Labels: bokeh, enhancement

#2665 Fixed PlotReset stream parameter
  holoviews/streams.py
Labels: API

#2668 Fixes bug sampling 2D Datasets
  holoviews/core/data/__init__.py
  tests/core/data/testdataset.py
Labels: bug, data

#2669 Added check to ensure empty subplot is not added
  holoviews/plotting/plot.py
Labels: bug, plotting

#2674 Fixed undefined variable bug in XArrayInterface
  holoviews/core/data/xarray.py
  holoviews/element/comparison.py
  tests/core/data/testdataset.py
Labels: bug, data

#2679 Fixed bug initializing PolyDrawCallback
  holoviews/plotting/bokeh/callbacks.py
  tests/plotting/bokeh/testcallbacks.py
Labels: bokeh, bug, regression

#2680 Allow setting alpha on bokeh Raster/Image/RGB
  holoviews/plotting/bokeh/raster.py
Labels: bokeh, enhancement

#2681 Correctly check if hover data should be added
  holoviews/plotting/bokeh/chart.py
  holoviews/plotting/bokeh/element.py
  holoviews/plotting/bokeh/graphs.py
  holoviews/plotting/bokeh/heatmap.py
  holoviews/plotting/bokeh/path.py
  holoviews/plotting/bokeh/raster.py
  holoviews/plotting/bokeh/sankey.py
  holoviews/plotting/bokeh/stats.py
Labels: bokeh, bug

#2683 OverlayPlot passes projection to subplots
  holoviews/plotting/plot.py
  tests/plotting/bokeh/testelementplot.py
Labels: enhancement

#2684 Fixed legend entries for Labels element
  holoviews/plotting/mpl/element.py
Labels: bug, mpl

#2685 Fixed bug initializing empty data in combined dictionary format
  holoviews/core/data/dictionary.py
  tests/core/data/testdataset.py
Labels: bug, data

#2699 Fixed DeprecationWarning in pandas 0.23
  holoviews/core/data/pandas.py
Labels: data

#2688 Minor fixes and updates for docs
  README.md
  doc/conf.py
  doc/index.rst
  doc/install.rst
  examples/gallery/demos/bokeh/boxplot_chart.ipynb
  examples/user_guide/Styling_Plots.ipynb
Labels: docs

#2701 Fixes for datashader reduction error
  holoviews/operation/datashader.py
Labels: bug

#2700 Fixed ResetCallback
  holoviews/plotting/bokeh/callbacks.py
  tests/plotting/bokeh/testcallbacks.py
Labels: bokeh, bug

#2706 Fix bug dropping streams in DynamicMap.groupby
  holoviews/core/spaces.py
  tests/core/testdynamic.py
Labels: bug

#2691 Fixed plotting of QuadMesh with nan coordinates
  holoviews/plotting/bokeh/raster.py
Labels: bokeh, bug

#2702 Update contours operation to work with QuadMesh
  holoviews/operation/element.py
  tests/operation/testoperation.py
Labels: bug

#2714 Graph.from_networkx method now extract node and edge attributes
  .travis.yml
  holoviews/element/graphs.py
  tests/element/testgraphelement.py
Labels: bug, enhancement

#2715 Add a isfinite utility to use throughout code
  holoviews/core/data/__init__.py
  holoviews/core/dimension.py
  holoviews/core/util.py
  holoviews/element/raster.py
  holoviews/operation/element.py
  holoviews/operation/stats.py
  holoviews/plotting/bokeh/chart.py
  holoviews/plotting/bokeh/element.py
  holoviews/plotting/bokeh/hex_tiles.py
  holoviews/plotting/bokeh/raster.py
  holoviews/plotting/mpl/chart.py
  holoviews/plotting/plot.py
  tests/core/data/testdataset.py
  tests/core/testutils.py
Labels: bug

#2721 Added image hover examples to the docs
  examples/reference/elements/bokeh/Image.ipynb
  examples/user_guide/Plotting_with_Bokeh.ipynb
Labels: docs

#2722 Fixed bug defining callbacks on synced sources
  holoviews/plotting/bokeh/callbacks.py
  holoviews/plotting/bokeh/plot.py
  tests/plotting/bokeh/testcallbacks.py
Labels: bug

#2725 Removed usage of deprecated DataFrame.from_items
  holoviews/core/data/pandas.py
Labels: data

#2723 Minor bug fix for adding custom node attributes
  holoviews/element/graphs.py
  tests/element/testgraphelement.py
Labels: bug

#2734 Interface test reorganization
  .travis.yml
  holoviews/core/util.py
  holoviews/element/raster.py
  tests/core/data/base.py
  tests/core/data/testarrayinterface.py
  tests/core/data/testdaskinterface.py
  tests/core/data/testdataset.py
  tests/core/data/testdictinterface.py
  tests/core/data/testgridinterface.py
  tests/core/data/testimageinterface.py
  tests/core/data/testirisinterface.py
  tests/core/data/testpandasinterface.py
  tests/core/data/testxarrayinterface.py
Labels: bug, testing

#2719 Support datetimes in histogram operation
  holoviews/core/data/grid.py
  holoviews/core/util.py
  holoviews/operation/element.py
  holoviews/plotting/mpl/chart.py
  tests/core/data/testbinneddatasets.py
  tests/operation/testoperation.py
  tests/plotting/bokeh/testhistogramplot.py
  tests/plotting/matplotlib/testhistogramplot.py
Labels: enhancement

#2741 Fixed bug in js conversion of value formatters
  holoviews/plotting/bokeh/util.py
Labels: bokeh, bug

#2746 Grid interface reindex
  holoviews/core/data/__init__.py
  holoviews/core/data/xarray.py
  tests/core/data/testgridinterface.py
  tests/core/data/testxarrayinterface.py
Labels: bug, data

#2745 Move DynamicMap unbounded error onto Renderer
  holoviews/ipython/display_hooks.py
  holoviews/plotting/renderer.py
Labels: bug, plotting

#2740 Fixed bokeh LayoutPlot bugs
  holoviews/plotting/bokeh/plot.py
  tests/plotting/bokeh/testlayoutplot.py
Labels: bokeh, bug

#2739 Allow the conversion interface to discover pandas indexes
  holoviews/core/data/__init__.py
  tests/core/data/testpandasinterface.py
Labels: data, enhancement

#2748 Fix dynamic ScrubberWidget and add throttling
  holoviews/core/util.py
  holoviews/plotting/widgets/__init__.py
  holoviews/plotting/widgets/widgets.js
  tests/core/testutils.py
Labels: bug

#2726 Avoid making clone in DynamicMap.options method if requested
  holoviews/core/spaces.py
  tests/core/testdimensioned.py
  tests/core/testdynamic.py
Labels: bug

#2750 fix typo
  examples/user_guide/14-Large_Data.ipynb
Labels: docs
