Repository holoviz/holoviews, pull requests merged in 2018-12, with the labels that each got.

#3237 Fixed documentation of bounds format
  examples/reference/elements/bokeh/HSV.ipynb
  examples/reference/elements/bokeh/Image.ipynb
  examples/reference/elements/bokeh/RGB.ipynb
  examples/reference/elements/matplotlib/HSV.ipynb
  examples/reference/elements/matplotlib/Image.ipynb
  examples/reference/elements/matplotlib/RGB.ipynb
  examples/reference/elements/plotly/Image.ipynb
  examples/user_guide/Styling_Plots.ipynb
Labels: docs

#3238 Fixed bug triggering update to Graph datasource
  holoviews/plotting/bokeh/graphs.py
Labels: bokeh, bug

#3236 Skip tests if dependency not available
  holoviews/tests/plotting/bokeh/testelementplot.py
  holoviews/tests/plotting/bokeh/testplot.py
  holoviews/tests/plotting/testplotutils.py
Labels: testing

#3239 Fixed rendering of whiskers on BoxWhisker
  holoviews/plotting/bokeh/stats.py
Labels: bokeh, bug

#3234 Allow overlaying Layout with element or HoloMap
  holoviews/core/layout.py
  holoviews/core/overlay.py
  holoviews/core/spaces.py
  holoviews/tests/core/testcomposites.py
Labels: enhancement

#3246 Fixed bare axis option in bokeh
  holoviews/plotting/bokeh/element.py
  holoviews/tests/plotting/bokeh/testelementplot.py
Labels: bokeh, bug

#3242 Fixed nested categorical sort order
  holoviews/plotting/bokeh/chart.py
  holoviews/plotting/bokeh/stats.py
  holoviews/tests/plotting/bokeh/testbarplot.py
  holoviews/tests/plotting/bokeh/testboxwhiskerplot.py
  holoviews/tests/plotting/bokeh/testviolinplot.py
Labels: bokeh, bug

#3231 Add support for legends when using categorical color mapping
  holoviews/plotting/bokeh/element.py
  holoviews/plotting/bokeh/styles.py
Labels: bokeh, plotting

#3250 Tutorial typo fix (due to renaming?)
  examples/user_guide/11-Responding_to_Events.ipynb
Labels: docs

#3235 Avoid erroring when aggregating on non-numeric columns
  holoviews/core/data/__init__.py
  holoviews/core/data/array.py
  holoviews/core/data/dask.py
  holoviews/core/data/dictionary.py
  holoviews/core/data/grid.py
  holoviews/core/data/image.py
  holoviews/core/data/pandas.py
  holoviews/core/data/xarray.py
  holoviews/tests/core/data/base.py
  holoviews/tests/core/data/testdaskinterface.py
Labels: data

#3249 Support linking DynamicMaps
  holoviews/plotting/bokeh/callbacks.py
  holoviews/plotting/bokeh/plot.py
  holoviews/tests/plotting/bokeh/testlinks.py
Labels: enhancement

#3240 Improved linking of axis ranges
  holoviews/operation/element.py
  holoviews/operation/stats.py
  holoviews/plotting/bokeh/chart.py
  holoviews/plotting/bokeh/element.py
  holoviews/plotting/bokeh/graphs.py
  holoviews/plotting/bokeh/stats.py
  holoviews/plotting/bokeh/util.py
  holoviews/plotting/mpl/raster.py
  holoviews/plotting/plot.py
  holoviews/tests/element/teststatselements.py
  holoviews/tests/operation/testoperation.py
  holoviews/tests/operation/teststatsoperations.py
  holoviews/tests/plotting/bokeh/testlayoutplot.py
Labels: bokeh

#3255 New subplot foundation for Plotly backend
  holoviews/plotting/plotly/chart.py
  holoviews/plotting/plotly/chart3d.py
  holoviews/plotting/plotly/element.py
  holoviews/plotting/plotly/plot.py
  holoviews/plotting/plotly/raster.py
  holoviews/plotting/plotly/renderer.py
  holoviews/plotting/plotly/tabular.py
  holoviews/plotting/plotly/util.py
  holoviews/tests/plotting/plotly/testplot.py
Labels: feature

#3259 Fixed missing static attribute on DivPlot
  holoviews/plotting/bokeh/annotation.py
Labels: bokeh, bug

#3251 Add ability to set active tools
  examples/reference/streams/bokeh/Bounds.ipynb
  examples/reference/streams/bokeh/BoundsX.ipynb
  examples/reference/streams/bokeh/BoundsY.ipynb
  examples/reference/streams/bokeh/BoxEdit.ipynb
  examples/reference/streams/bokeh/FreehandDraw.ipynb
  examples/reference/streams/bokeh/PointDraw.ipynb
  examples/reference/streams/bokeh/PolyDraw.ipynb
  examples/reference/streams/bokeh/PolyEdit.ipynb
  examples/reference/streams/bokeh/RangeXY.ipynb
  examples/reference/streams/bokeh/Selection1D_paired.ipynb
  examples/reference/streams/bokeh/Tap.ipynb
  examples/user_guide/Linking_Plots.ipynb
  holoviews/plotting/bokeh/element.py
  holoviews/plotting/bokeh/plot.py
  holoviews/plotting/bokeh/util.py
  holoviews/tests/plotting/bokeh/testelementplot.py
Labels: bokeh, feature

#3262 Additional fixes and tests for updated .opts method
  holoviews/core/dimension.py
  holoviews/core/spaces.py
  holoviews/core/util.py
  holoviews/tests/core/testoptions.py
  holoviews/util/__init__.py
Labels: bug, options

#3263 Allow Path elements with single item
  examples/reference/elements/bokeh/Path.ipynb
  examples/reference/elements/matplotlib/Path.ipynb
  examples/user_guide/Geometry_Data.ipynb
  holoviews/element/path.py
  holoviews/tests/element/testpaths.py
Labels: data, enhancement

#3267 Fixed issue with Selection1D on Table
  holoviews/plotting/bokeh/tabular.py
  holoviews/tests/plotting/bokeh/testcallbacks.py
Labels: bokeh, bug

#3268 Refactored GraphPlot and fixed renderer ordering
  holoviews/plotting/bokeh/graphs.py
  holoviews/plotting/bokeh/sankey.py
  holoviews/tests/plotting/bokeh/testgraphplot.py
  holoviews/tests/plotting/bokeh/testsankey.py
Labels: bokeh, bug

#3270 Updates to matplotlib element references to use opts
  examples/reference/elements/matplotlib/Arrow.ipynb
  examples/reference/elements/matplotlib/Bars.ipynb
  examples/reference/elements/matplotlib/Bivariate.ipynb
  examples/reference/elements/matplotlib/Bounds.ipynb
  examples/reference/elements/matplotlib/Box.ipynb
  examples/reference/elements/matplotlib/BoxWhisker.ipynb
  examples/reference/elements/matplotlib/Chord.ipynb
  examples/reference/elements/matplotlib/Contours.ipynb
  examples/reference/elements/matplotlib/Curve.ipynb
  examples/reference/elements/matplotlib/Distribution.ipynb
  examples/reference/elements/matplotlib/Ellipse.ipynb
  examples/reference/elements/matplotlib/Graph.ipynb
  examples/reference/elements/matplotlib/HLine.ipynb
  examples/reference/elements/matplotlib/HSV.ipynb
  examples/reference/elements/matplotlib/HeatMap.ipynb
  examples/reference/elements/matplotlib/HexTiles.ipynb
  examples/reference/elements/matplotlib/Histogram.ipynb
  examples/reference/elements/matplotlib/Image.ipynb
  examples/reference/elements/matplotlib/Labels.ipynb
  examples/reference/elements/matplotlib/Points.ipynb
  examples/reference/elements/matplotlib/Polygons.ipynb
  examples/reference/elements/matplotlib/QuadMesh.ipynb
  examples/reference/elements/matplotlib/RGB.ipynb
  examples/reference/elements/matplotlib/RadialHeatMap.ipynb
  examples/reference/elements/matplotlib/Sankey.ipynb
  examples/reference/elements/matplotlib/Spikes.ipynb
  examples/reference/elements/matplotlib/Spline.ipynb
  examples/reference/elements/matplotlib/Spread.ipynb
  examples/reference/elements/matplotlib/Surface.ipynb
  examples/reference/elements/matplotlib/Text.ipynb
  examples/reference/elements/matplotlib/TriMesh.ipynb
  examples/reference/elements/matplotlib/TriSurface.ipynb
  examples/reference/elements/matplotlib/VLine.ipynb
  examples/reference/elements/matplotlib/VectorField.ipynb
  examples/reference/elements/matplotlib/Violin.ipynb
  holoviews/plotting/mpl/annotation.py
  holoviews/tests/plotting/matplotlib/testlabels.py
Labels: docs

#3275 Make matplotlib's BarPlot consistent with other backends
  examples/gallery/demos/matplotlib/bars_economic.ipynb
  examples/reference/elements/matplotlib/Bars.ipynb
  holoviews/plotting/mpl/chart.py
Labels: bug, mpl

#3285 Updated Dashboard user guide
  examples/user_guide/16-Dashboards.ipynb
Labels: docs

#3284 Fixes for matplotlib colormapping
  holoviews/plotting/mpl/chart3d.py
  holoviews/plotting/mpl/element.py
  holoviews/plotting/mpl/path.py
  holoviews/tests/plotting/matplotlib/testelementplot.py
Labels: bug, mpl

#3294 Disable item checks when getting plot frames
  holoviews/core/ndmapping.py
  holoviews/plotting/util.py
Labels: regression

#3289 Add options to PrettyPrinter
  holoviews/core/options.py
  holoviews/core/pprint.py
  holoviews/tests/core/testdimensioned.py
  holoviews/tests/core/testprettyprint.py
Labels: enhancement, options

#3297 Handle datashader regression introduced by cftime handling
  holoviews/operation/datashader.py
Labels: regression

#3296 Do not apply style mapping directly to data source
  holoviews/plotting/bokeh/element.py
  holoviews/plotting/bokeh/graphs.py
  holoviews/plotting/bokeh/stats.py
  holoviews/tests/plotting/bokeh/testcurveplot.py
  holoviews/tests/plotting/bokeh/testpathplot.py
Labels: bokeh, bug

#3302 Assorted minor fixes
  holoviews/core/ndmapping.py
  holoviews/operation/datashader.py
  holoviews/plotting/plotly/element.py
Labels: bug

#3305 Improved bokeh RGBPlot dtype handling
  holoviews/plotting/bokeh/raster.py
Labels: bokeh, bug

#3308 Fixed zero-sized array issue in bokeh RGBPlot
  holoviews/plotting/bokeh/raster.py
Labels: bokeh, bug

#3309 Fixed bug in HoloMap.hist
  holoviews/core/spaces.py
  holoviews/tests/core/testndmapping.py
Labels: regression

#3301 Add support for literal opts format
  holoviews/core/util.py
Labels: options

#3310 Improved RGB clipping logic
  holoviews/plotting/bokeh/raster.py
Labels: bokeh

#3298 Colormapping and legend fixes for bokeh
  holoviews/plotting/bokeh/chart.py
  holoviews/plotting/bokeh/element.py
  holoviews/tests/plotting/bokeh/testpointplot.py
Labels: bokeh, bug

#3314 Fixed Contours and Polygons hover
  holoviews/plotting/bokeh/path.py
  holoviews/tests/plotting/bokeh/testpathplot.py
Labels: bokeh, bug, regression

#3317 Fix missing import to get example to work
  examples/user_guide/Deploying_Bokeh_Apps.ipynb
Labels: docs

#3320 Ensure custom trees are propagated for non-specified backend
  holoviews/core/options.py
  holoviews/tests/core/testdimensioned.py
Labels: bug, options

#3324 Fix style mapping with explicit colormap
  holoviews/plotting/bokeh/element.py
  holoviews/tests/plotting/bokeh/testpointplot.py
Labels: bokeh, bug

#3328 Cleaned up docs of last references to .options
  examples/gallery/apps/bokeh/game_of_life.py
  examples/gallery/apps/bokeh/gapminder.py
  examples/gallery/apps/bokeh/mandelbrot.py
  examples/gallery/apps/bokeh/nytaxi_hover.py
  examples/gallery/apps/bokeh/streaming_psutil.py
  examples/user_guide/04-Style_Mapping.ipynb
  examples/user_guide/09-Indexing_and_Selecting_Data.ipynb
  examples/user_guide/14-Large_Data.ipynb
  examples/user_guide/16-Dashboards.ipynb
  examples/user_guide/Colormaps.ipynb
  examples/user_guide/Customizing_Plots.ipynb
  examples/user_guide/Deploying_Bokeh_Apps.ipynb
  examples/user_guide/Linking_Plots.ipynb
  examples/user_guide/Network_Graphs.ipynb
  examples/user_guide/Plots_and_Renderers.ipynb
  examples/user_guide/Plotting_with_Bokeh.ipynb
  examples/user_guide/Plotting_with_Matplotlib.ipynb
  holoviews/util/transform.py
Labels: docs

#3329 Fix toolbar='disable' option
  holoviews/plotting/bokeh/element.py
Labels: bokeh, bug

#3330 Fixed bug in looking up valid keywords
  holoviews/util/__init__.py
Labels: bug

#3331 Fixed bug casting Paths
  holoviews/element/path.py
  holoviews/tests/element/testpaths.py
Labels: bug, data

#3336 Fixed various links
  doc/user_guide/index.rst
  examples/gallery/demos/bokeh/area_chart.ipynb
  examples/gallery/demos/bokeh/boxplot_chart.ipynb
  examples/gallery/demos/matplotlib/area_chart.ipynb
  examples/gallery/demos/matplotlib/boxplot_chart.ipynb
  examples/reference/elements/bokeh/HexTiles.ipynb
  examples/reference/elements/bokeh/Sankey.ipynb
  examples/reference/elements/bokeh/Scatter.ipynb
  examples/reference/elements/matplotlib/HexTiles.ipynb
  examples/reference/elements/matplotlib/Sankey.ipynb
  examples/reference/elements/matplotlib/Scatter.ipynb
  examples/reference/elements/plotly/Curve.ipynb
  examples/reference/elements/plotly/Scatter.ipynb
  examples/reference/elements/plotly/Table.ipynb
  examples/user_guide/16-Streaming_Data.ipynb
Labels: docs

#3334 Include license in wheels
  setup.cfg
Labels: packaging

#3290 Document usage of Params stream
  examples/user_guide/12-Responding_to_Events.ipynb
  holoviews/tests/core/testdynamic.py
Labels: enhancement

#3344 Removed the magics from the Dimensioned Containers user guide
  examples/user_guide/05-Dimensioned_Containers.ipynb
Labels: docs
