Repository holoviz/holoviews, pull requests merged in 2018-08, with the labels that each got.

#2915 Address loop bug in CDSStream on bokeh server
  holoviews/plotting/bokeh/callbacks.py
Labels: bokeh, bug

#2924 Added more elements .to
  holoviews/element/__init__.py
Labels: enhancement

#2937 Add new drawing tool functionality
  examples/reference/streams/bokeh/BoxEdit.ipynb
  examples/reference/streams/bokeh/FreehandDraw.ipynb
  examples/reference/streams/bokeh/PointDraw.ipynb
  examples/reference/streams/bokeh/PolyDraw.ipynb
  holoviews/plotting/bokeh/callbacks.py
  holoviews/streams.py
Labels: feature

#2942 Ensure initial PolyDraw and FreehandDraw data is projected
  holoviews/plotting/bokeh/callbacks.py
Labels: bokeh, bug

#2944 Multi interface improvements
  holoviews/core/data/dictionary.py
  holoviews/core/data/multipath.py
  holoviews/core/util.py
  holoviews/plotting/bokeh/callbacks.py
  tests/core/data/testdictinterface.py
  tests/core/data/testmultiinterface.py
Labels: data

#2945 Ensure MultiInterface.add_dimension works on array interface
  holoviews/core/data/multipath.py
  tests/core/data/testmultiinterface.py
Labels: bug, data

#2953 Fixed bug in DaskInterface.range for non-numeric columns
  holoviews/core/data/dask.py
  tests/core/data/testdaskinterface.py
Labels: bug, data

#2952 Fixed bug clearing Buffer stream when streaming dataframe with index
  holoviews/streams.py
  tests/teststreams.py
Labels: bug

#2951 Fixed bug streaming SpreadPlot data
  holoviews/plotting/bokeh/chart.py
  tests/plotting/bokeh/testspreadplot.py
Labels: bokeh, bug

#2950 Handle empty and flat distribution Violin plots
  holoviews/operation/stats.py
  holoviews/plotting/bokeh/stats.py
  holoviews/plotting/mpl/stats.py
  tests/operation/teststatsoperations.py
  tests/plotting/bokeh/testviolinplot.py
Labels: bug

#2967 Add support to adjust fontsize for zlabels/zticks
  holoviews/plotting/mpl/element.py
  holoviews/plotting/plot.py
Labels: mpl

#2962 Fix issue with value dimensions on PolyDraw stream
  holoviews/plotting/bokeh/callbacks.py
  tests/plotting/bokeh/testcallbacks.py
Labels: bokeh, bug
