Repository holoviz/holoviews, pull requests merged in 2018-03, with the labels that each got.

#2382 Fixed Renderer widget export
  holoviews/plotting/plotly/renderer.py
  holoviews/plotting/renderer.py
  holoviews/plotting/widgets/__init__.py
Labels: WIP, bug, plotting

#2389 Correctly handle comms in bokeh<0.12.15
  holoviews/plotting/bokeh/bokehwidgets.js
  holoviews/plotting/bokeh/renderer.py
Labels: bokeh, bug

#2390 Fixes for widget step and sorting
  holoviews/plotting/widgets/__init__.py
  tests/plotting/bokeh/testwidgets.py
Labels: bug, plotting

#2407 Attempt at unpinning dask to fix conda constraint errors on Travis
  .travis.yml
Labels: testing

#2391 Replaced badge with monthly download badge
  README.md
Labels: docs

#2394 Allow drawing colorbar on bokeh QuadMeshPlot
  holoviews/plotting/bokeh/raster.py
  tests/plotting/bokeh/testquadmeshplot.py
Labels: bokeh, bug

#2396 Add support for Dimension.default
  examples/user_guide/04-Dimensioned_Containers.ipynb
  holoviews/core/dimension.py
  holoviews/plotting/bokeh/element.py
  holoviews/plotting/bokeh/widgets.py
  holoviews/plotting/mpl/mplwidgets.js
  holoviews/plotting/mpl/plot.py
  holoviews/plotting/mpl/widgets.py
  holoviews/plotting/plot.py
  holoviews/plotting/renderer.py
  holoviews/plotting/widgets/__init__.py
  holoviews/plotting/widgets/jsslider.jinja
  holoviews/plotting/widgets/widgets.js
  tests/core/testdimensions.py
  tests/plotting/bokeh/testwidgets.py
Labels: feature, plotting

#2397 Move shared plot parameters to base classes
  holoviews/plotting/bokeh/element.py
  holoviews/plotting/bokeh/plot.py
  holoviews/plotting/mpl/annotation.py
  holoviews/plotting/mpl/chart.py
  holoviews/plotting/mpl/element.py
  holoviews/plotting/mpl/path.py
  holoviews/plotting/mpl/raster.py
  holoviews/plotting/plot.py
Labels: API, plotting

#2404 Miscellaneous plot fixes
  holoviews/plotting/bokeh/annotation.py
  holoviews/plotting/bokeh/util.py
  holoviews/plotting/plot.py
  tests/plotting/bokeh/testannotationplot.py
  tests/plotting/bokeh/testoverlayplot.py
  tests/plotting/matplotlib/testoverlayplot.py
Labels: bokeh, bug, plotting

#2418 Bokeh renderer fixes
  holoviews/plotting/bokeh/renderer.py
  holoviews/plotting/renderer.py
Labels: bokeh, bug

#2405 Fixed bug setting bokeh toolbar location
  holoviews/plotting/bokeh/element.py
  holoviews/plotting/bokeh/plot.py
  tests/plotting/bokeh/testgridplot.py
  tests/plotting/bokeh/testlayoutplot.py
Labels: bokeh, bug

#2305 Added support for dask arrays in GridInterface
  holoviews/core/data/grid.py
  tests/core/data/testdataset.py
Labels: data, feature

#2421 Renderer and Widget bug fixes
  holoviews/plotting/mpl/mplwidgets.js
  holoviews/plotting/plotly/renderer.py
Labels: bug, plotting

#2424 Ensure select on dask arrays in GridInterface is lazy
  holoviews/core/data/__init__.py
  holoviews/core/data/grid.py
  holoviews/core/data/image.py
  holoviews/core/data/interface.py
  holoviews/core/data/iris.py
  holoviews/core/data/xarray.py
  holoviews/element/chart.py
  tests/core/data/testdataset.py
  tests/core/data/testimageinterfaces.py
  tests/element/testelementconstructors.py
Labels: bug, data

#2428 Fixed empty Element visibility bug in bokeh plots
  holoviews/plotting/bokeh/element.py
  tests/plotting/bokeh/testelementplot.py
  tests/plotting/bokeh/testoverlayplot.py
Labels: bokeh, bug

#2383 Workaround for datetime streaming bug in bokeh
  holoviews/plotting/bokeh/plot.py
  meta.yaml
Labels: bokeh, bug

#2425 Made pandas autoindexing behavior backwards compatible
  holoviews/core/data/pandas.py
  tests/core/data/testdataset.py
Labels: API, data

#2445 Fixed bokeh bug with offset being undefined
  holoviews/plotting/bokeh/plot.py
Labels: bokeh, bug

#2442 Fixed transposed expanded grid coords
  holoviews/core/data/grid.py
  holoviews/core/data/image.py
  holoviews/core/data/iris.py
  holoviews/core/data/xarray.py
  holoviews/core/util.py
  tests/core/data/testdataset.py
Labels: data

#2443 Ensure HoloMap.opts and .options apply to elements
  holoviews/core/spaces.py
  tests/core/teststoreoptions.py
Labels: API

#2223 Add Div Element
  examples/reference/elements/bokeh/Div.ipynb
  holoviews/element/annotation.py
  holoviews/element/comparison.py
  holoviews/plotting/bokeh/__init__.py
  holoviews/plotting/bokeh/annotation.py
  holoviews/plotting/bokeh/element.py
  holoviews/plotting/bokeh/tabular.py
  holoviews/plotting/bokeh/util.py
  holoviews/plotting/mpl/element.py
  holoviews/plotting/plot.py
  tests/plotting/bokeh/testdivplot.py
Labels: bokeh, feature

#2155 Feature radial heatmap
  examples/assets/nyc_taxi.csv.gz
  examples/gallery/demos/bokeh/nyc_radial_heatmap.ipynb
  examples/gallery/demos/matplotlib/nyc_radial_heatmap.ipynb
  examples/reference/elements/bokeh/RadialHeatMap.ipynb
  examples/reference/elements/matplotlib/RadialHeatMap.ipynb
  holoviews/element/raster.py
  holoviews/plotting/bokeh/__init__.py
  holoviews/plotting/bokeh/heatmap.py
  holoviews/plotting/bokeh/raster.py
  holoviews/plotting/mpl/__init__.py
  holoviews/plotting/mpl/element.py
  holoviews/plotting/mpl/heatmap.py
  holoviews/plotting/mpl/raster.py
  holoviews/plotting/plot.py
  tests/plotting/bokeh/testheatmapplot.py
  tests/plotting/bokeh/testradialheatmap.py
  tests/plotting/matplotlib/testheatmapplot.py
  tests/plotting/matplotlib/testradialheatmap.py
Labels: feature

#2452 Fixed datashading data on subpixel resolution
  holoviews/operation/datashader.py
Labels: bug

#2447 Made mpl SurfacePlot work with different datatypes
  holoviews/plotting/mpl/chart3d.py
Labels: bug, mpl

#2454 Fixed MPLRenderer anim output regression
  .travis.yml
  examples/user_guide/Plotting_with_Matplotlib.ipynb
  holoviews/plotting/mpl/renderer.py
  tests/plotting/matplotlib/testrenderer.py
Labels: bug, mpl

#2455 Avoid computing frame ranges for dynamic plots
  holoviews/plotting/bokeh/plot.py
  holoviews/plotting/mpl/plot.py
Labels: bug, plotting

#2463 Apply utc offset to bokeh callback datetimes
  holoviews/plotting/bokeh/util.py
Labels: bug

#2465 Improved rasterize API
  holoviews/operation/datashader.py
  tests/operation/testdatashader.py
Labels: API, enhancement

#2471 Updated docstrings and cleaned up inheritance for datashader operations
  holoviews/operation/datashader.py
Labels: API, enhancement

#2472 Avoid zero division warnings in live data user guide
  examples/user_guide/06-Live_Data.ipynb
Labels: docs

#2474 Allow specifying Bivariate levels
  holoviews/operation/element.py
  holoviews/operation/stats.py
  holoviews/plotting/bokeh/stats.py
  holoviews/plotting/mpl/stats.py
  tests/operation/testoperation.py
  tests/operation/teststatsoperations.py
Labels: bug, feature

#2479 Fixed expansion of Cycles of unequal lengths
  holoviews/core/options.py
  holoviews/plotting/bokeh/element.py
  tests/core/testoptions.py
  tests/plotting/bokeh/testcurveplot.py
Labels: bug, enhancement, options

#2473 Implemented and standardized GridSpace/NdLayout overlay operations
  holoviews/core/ndmapping.py
  holoviews/core/overlay.py
  holoviews/core/spaces.py
  tests/core/testlayouts.py
Labels: feature

#2332 Improved Dimension validation and error messages
  holoviews/core/data/__init__.py
  holoviews/core/dimension.py
  holoviews/core/ndmapping.py
  holoviews/util/__init__.py
Labels: API

#2488 Provide full control over bokeh grid styles
  examples/user_guide/Plotting_with_Bokeh.ipynb
  holoviews/plotting/bokeh/element.py
  tests/plotting/bokeh/testelementplot.py
Labels: bokeh, feature

#2483 Make colormap handling consistent and allow discrete mapping
  doc/user_guide/index.rst
  examples/user_guide/Styling_Plots.ipynb
  holoviews/plotting/__init__.py
  holoviews/plotting/bokeh/__init__.py
  holoviews/plotting/bokeh/element.py
  holoviews/plotting/bokeh/raster.py
  holoviews/plotting/bokeh/util.py
  holoviews/plotting/mpl/__init__.py
  holoviews/plotting/mpl/element.py
  holoviews/plotting/mpl/raster.py
  holoviews/plotting/util.py
  tests/plotting/bokeh/testelementplot.py
  tests/plotting/bokeh/testpointplot.py
  tests/plotting/matplotlib/testelementplot.py
  tests/plotting/testplotutils.py
Labels: bokeh, enhancement, feature, mpl

#2493 Fixed DynamicMap collation for changing keys
  holoviews/core/spaces.py
  tests/core/testdynamic.py
Labels: bug

#2174 Allow dynamically adding new subplots
  holoviews/plotting/bokeh/element.py
  holoviews/plotting/mpl/element.py
  holoviews/plotting/plot.py
  holoviews/plotting/util.py
  tests/plotting/bokeh/testelementplot.py
  tests/plotting/bokeh/testoverlayplot.py
  tests/plotting/matplotlib/testoverlayplot.py
Labels: feature, plotting

#2482 Add HexTiles element
  examples/gallery/demos/bokeh/hextile_movie_ratings.ipynb
  examples/gallery/demos/matplotlib/hextile_movie_ratings.ipynb
  examples/reference/elements/bokeh/HexTiles.ipynb
  examples/reference/elements/matplotlib/HexTiles.ipynb
  holoviews/core/options.py
  holoviews/element/comparison.py
  holoviews/element/stats.py
  holoviews/plotting/bokeh/__init__.py
  holoviews/plotting/bokeh/element.py
  holoviews/plotting/bokeh/hex_tiles.py
  holoviews/plotting/mpl/__init__.py
  holoviews/plotting/mpl/hex_tiles.py
  tests/plotting/bokeh/testhextilesplot.py
  tests/plotting/matplotlib/testhextilesplot.py
  tests/testutils.py
Labels: feature

#2495 Fixed inverted colors for bokeh.palettes.mpl
  holoviews/plotting/util.py
  tests/plotting/testplotutils.py
Labels: bokeh, bug

#2498 Colormap categories
  doc/user_guide/index.rst
  examples/user_guide/Colormaps.ipynb
  examples/user_guide/Styling_Plots.ipynb
  holoviews/plotting/util.py
  tests/plotting/testplotutils.py
Labels: docs, enhancement, plotting
