Repository holoviz/holoviews, pull requests merged in 2018-06, with the labels that each got.

#2755 Nested legend
  holoviews/plotting/mpl/element.py
  holoviews/plotting/plot.py
Labels: bokeh, bug, mpl, plotting

#2760 Fixes hover on inverted Histogram
  holoviews/plotting/bokeh/chart.py
Labels: bokeh, bug

#2765 Fixed bokeh gridstyle option in Overlays
  holoviews/plotting/bokeh/element.py
  tests/plotting/bokeh/testelementplot.py
Labels: bokeh, bug

#2761 Fixed bug adding dimension to XArrayInterface
  holoviews/core/data/xarray.py
  tests/core/data/base.py
  tests/core/data/testirisinterface.py
Labels: bug, data

#2766 Theme fix
  holoviews/plotting/bokeh/renderer.py
  tests/plotting/bokeh/testrenderer.py
Labels: bokeh, bug

#2767 Minor Interface improvements
  holoviews/core/data/interface.py
  holoviews/element/__init__.py
  holoviews/operation/timeseries.py
Labels: data, enhancement

#2771 Fixed inverted QuadMesh bug
  holoviews/plotting/bokeh/raster.py
  tests/plotting/bokeh/testquadmeshplot.py
Labels: bokeh, bug

#2770 Update the bokeh reset ranges
  holoviews/plotting/bokeh/element.py
Labels: bokeh, enhancement

#2789 Handle kdims referencing multi-index in dask
  holoviews/core/data/dask.py
  tests/core/data/base.py
  tests/core/data/testdaskinterface.py
  tests/core/data/testpandasinterface.py
Labels: bug, data

#2797 Allow defining color intervals
  examples/user_guide/Styling_Plots.ipynb
  holoviews/plotting/bokeh/element.py
  holoviews/plotting/mpl/element.py
  holoviews/plotting/util.py
  tests/plotting/testplotutils.py
Labels: enhancement, plotting

#2801 Allow specifying port and multiple websocket_origins in BokehRenderer
  holoviews/plotting/bokeh/renderer.py
Labels: bokeh, enhancement

#2802 Fixed colorbar axis label in matplotlib
  holoviews/plotting/mpl/element.py
  tests/plotting/matplotlib/testelementplot.py
Labels: bug, mpl

#2793 Dropping gridded data non-scalar coordinates casts datatype
  holoviews/core/data/__init__.py
  holoviews/core/data/dask.py
  tests/core/data/testgridinterface.py
Labels: bug, data

#2805 Do not sort data in Violin and BoxWhisker plots
  holoviews/plotting/bokeh/stats.py
  holoviews/plotting/mpl/stats.py
Labels: bokeh, bug, mpl

#2806 Fixed updating of dynamic Overlay with tabs=True
  holoviews/plotting/bokeh/element.py
Labels: bokeh, bug

#2808 Fix for non-categorical discrete color levels in bokeh
  holoviews/plotting/bokeh/element.py
  tests/plotting/bokeh/testelementplot.py
Labels: bokeh, bug

#2814 Added support for setting Text/Label rotation
  holoviews/plotting/bokeh/annotation.py
  tests/plotting/bokeh/testannotationplot.py
Labels: bokeh, enhancement

#2815 Bump version requirement to include bokeh 0.13
  conda.recipe/meta.yaml
Labels: bokeh

#2812 Histogram enhancements
  holoviews/core/element.py
  holoviews/core/spaces.py
  holoviews/operation/element.py
  tests/operation/testoperation.py
Labels: enhancement

#2762 Implement grid concatenation and standardize datatype casting
  holoviews/core/data/__init__.py
  holoviews/core/data/array.py
  holoviews/core/data/dask.py
  holoviews/core/data/dictionary.py
  holoviews/core/data/grid.py
  holoviews/core/data/interface.py
  holoviews/core/data/iris.py
  holoviews/core/data/pandas.py
  holoviews/core/data/xarray.py
  holoviews/core/ndmapping.py
  holoviews/core/spaces.py
  holoviews/core/util.py
  holoviews/element/util.py
  holoviews/operation/element.py
  tests/core/data/base.py
  tests/core/data/testirisinterface.py
  tests/core/data/testxarrayinterface.py
Labels: bug, data, enhancement

#2831 Add ability to mute legend entries by default
  holoviews/plotting/bokeh/element.py
  tests/plotting/bokeh/testelementplot.py
Labels: bokeh, enhancement

#2830 Fix for matplotlib BoxWhisker and Violin overlays
  holoviews/plotting/mpl/stats.py
  tests/plotting/matplotlib/testboxwhisker.py
  tests/plotting/matplotlib/testviolinplot.py
Labels: bug, mpl

#2829 Fixed bug datashading NdOverlay with datetime axis
  holoviews/operation/datashader.py
  tests/operation/testdatashader.py
Labels: bug

#2790 Cleaned up Dimension casting and name lookup
  holoviews/core/data/array.py
  holoviews/core/data/dictionary.py
  holoviews/core/data/grid.py
  holoviews/core/data/image.py
  holoviews/core/data/iris.py
  holoviews/core/data/pandas.py
  holoviews/core/data/xarray.py
  holoviews/core/dimension.py
  holoviews/core/element.py
  holoviews/core/ndmapping.py
  holoviews/element/path.py
  holoviews/element/tabular.py
  tests/core/data/base.py
Labels: bug, data

#2836 Removed bokeh 0.12.14 streaming fix
  holoviews/plotting/bokeh/plot.py
Labels: bokeh

#2840 Fixes for empty Paths and contour operation
  holoviews/core/data/multipath.py
  holoviews/operation/element.py
  tests/core/data/testmultiinterface.py
  tests/operation/testoperation.py
Labels: bug, data

#2839 Avoid duplicate titles on adjoined plots
  holoviews/plotting/bokeh/element.py
Labels: bokeh, bug

#2838 Improved handling of scalar and non-scalar handling in Paths
  holoviews/core/data/dictionary.py
  holoviews/plotting/bokeh/path.py
Labels: data, plotting

#2843 Fixed bug rendering gif using mpl
  holoviews/plotting/mpl/renderer.py
Labels: bug, mpl

#2842 Improve handling of zero range datashader aggregations
  holoviews/core/data/grid.py
  holoviews/core/data/xarray.py
  holoviews/operation/datashader.py
  holoviews/plotting/bokeh/raster.py
  tests/core/data/testxarrayinterface.py
  tests/operation/testdatashader.py
Labels: bug

#2837 Allow setting HLine/VLine level in bokeh
  holoviews/plotting/bokeh/annotation.py
Labels: bokeh, enhancement

#2847 Added matplotlib SideAreaPlot
  holoviews/plotting/mpl/__init__.py
  holoviews/plotting/mpl/chart.py
Labels: enhancement, mpl

#2849 Do not sort by default when concatenating pandas data
  holoviews/core/data/pandas.py
Labels: data
