Repository holoviz/holoviews, pull requests merged in 2018-09, with the labels that each got.

#2972 Support input of strings to theme
  examples/user_guide/Plotting_with_Bokeh.ipynb
  holoviews/plotting/bokeh/renderer.py
Labels: bokeh, enhancement

#2293 Added option for dimension range padding
  .travis.yml
  holoviews/core/data/__init__.py
  holoviews/core/dimension.py
  holoviews/core/spaces.py
  holoviews/core/util.py
  holoviews/element/chart.py
  holoviews/element/graphs.py
  holoviews/element/raster.py
  holoviews/element/stats.py
  holoviews/plotting/bokeh/annotation.py
  holoviews/plotting/bokeh/chart.py
  holoviews/plotting/bokeh/element.py
  holoviews/plotting/bokeh/graphs.py
  holoviews/plotting/bokeh/heatmap.py
  holoviews/plotting/bokeh/hex_tiles.py
  holoviews/plotting/bokeh/sankey.py
  holoviews/plotting/bokeh/stats.py
  holoviews/plotting/mpl/chart.py
  holoviews/plotting/mpl/element.py
  holoviews/plotting/mpl/graphs.py
  holoviews/plotting/mpl/heatmap.py
  holoviews/plotting/mpl/raster.py
  holoviews/plotting/mpl/sankey.py
  holoviews/plotting/mpl/stats.py
  holoviews/plotting/plot.py
  holoviews/plotting/plotly/chart.py
  holoviews/plotting/plotly/element.py
  holoviews/plotting/plotly/raster.py
  holoviews/plotting/util.py
  tests/element/testannotations.py
  tests/plotting/bokeh/testareaplot.py
  tests/plotting/bokeh/testbarplot.py
  tests/plotting/bokeh/testboxwhiskerplot.py
  tests/plotting/bokeh/testcurveplot.py
  tests/plotting/bokeh/testerrorbarplot.py
  tests/plotting/bokeh/testhistogramplot.py
  tests/plotting/bokeh/testpointplot.py
  tests/plotting/bokeh/testspikesplot.py
  tests/plotting/bokeh/testspreadplot.py
  tests/plotting/matplotlib/testareaplot.py
  tests/plotting/matplotlib/testboxwhisker.py
  tests/plotting/matplotlib/testcurveplot.py
  tests/plotting/matplotlib/testhistogramplot.py
  tests/plotting/matplotlib/testpointplot.py
  tests/plotting/matplotlib/testradialheatmap.py
  tests/plotting/matplotlib/testscatter3d.py
  tests/plotting/matplotlib/testspikeplot.py
  tests/plotting/testplotutils.py
Labels: feature, plotting

#2954 Fixed value label formatting in HoloMap widgets
  holoviews/plotting/widgets/__init__.py
  tests/plotting/matplotlib/testwidgets.py
Labels: bug

#3002 Fix broken links
  examples/reference/elements/bokeh/Labels.ipynb
  examples/reference/elements/matplotlib/Labels.ipynb
Labels: docs

#3001 Don't sort by default in element conversion
  CHANGELOG.md
  holoviews/element/__init__.py
Labels: API

#2869 Handle zero ranges correctly in regrid operation
  holoviews/core/data/image.py
  holoviews/core/util.py
  holoviews/element/raster.py
  holoviews/operation/datashader.py
  holoviews/plotting/bokeh/raster.py
  tests/operation/testdatashader.py
Labels: bug

#3005 Various fixes for bokeh datetime handling
  holoviews/plotting/bokeh/chart.py
  holoviews/plotting/bokeh/element.py
  holoviews/plotting/bokeh/path.py
  holoviews/plotting/bokeh/tabular.py
  holoviews/plotting/plot.py
  holoviews/plotting/util.py
  tests/plotting/bokeh/testpathplot.py
  tests/plotting/bokeh/testpointplot.py
  tests/plotting/bokeh/testspikesplot.py
Labels: bokeh, bug

#3017 Fixes for handling of curvilinear coordinates
  holoviews/core/data/grid.py
  holoviews/core/data/iris.py
  holoviews/core/data/xarray.py
  holoviews/element/raster.py
  tests/core/data/testgridinterface.py
  tests/core/data/testirisinterface.py
  tests/core/data/testxarrayinterface.py
Labels: bug, data
