Repository holoviz/holoviews, pull requests merged in 2018-04, with the labels that each got.

#2499 Fixed PointerXY inverted axis bug
  holoviews/plotting/bokeh/callbacks.py
Labels: bokeh, bug

#2500 Improved notebook MIME type handling and added cleanup on cell deletion
  holoviews/core/util.py
  holoviews/ipython/__init__.py
  holoviews/plotting/bokeh/callbacks.py
  holoviews/plotting/bokeh/plot.py
  holoviews/plotting/bokeh/widgets.py
  holoviews/plotting/comms.py
  holoviews/plotting/plot.py
  holoviews/plotting/renderer.py
  holoviews/plotting/widgets/__init__.py
  holoviews/plotting/widgets/widgets.js
  tests/plotting/bokeh/testcallbacks.py
  tests/plotting/bokeh/testelementplot.py
  tests/plotting/matplotlib/testelementplot.py
  tests/plotting/testcomms.py
Labels: enhancement, notebook

#2512 Put .show method in user guide
  examples/user_guide/Plots_and_Renderers.ipynb
Labels: docs

#2511 Ensured Callback plot_id matches top-level
  holoviews/plotting/bokeh/callbacks.py
  holoviews/plotting/bokeh/element.py
  holoviews/plotting/bokeh/plot.py
Labels: bokeh, bug

#2513 Fixes issues handling unsigned integers in plotting
  holoviews/element/graphs.py
  holoviews/plotting/bokeh/chart.py
  holoviews/plotting/bokeh/graphs.py
  holoviews/plotting/mpl/chart.py
  holoviews/plotting/mpl/element.py
  holoviews/plotting/mpl/graphs.py
  holoviews/plotting/mpl/path.py
  tests/plotting/matplotlib/testelementplot.py
Labels: bug, plotting

#2352 Added Labels element
  examples/assets/emoji_embeddings.csv
  examples/gallery/demos/bokeh/bachelors_degrees_by_gender.ipynb
  examples/gallery/demos/bokeh/emoji_tsne.ipynb
  examples/gallery/demos/matplotlib/bachelors_degrees_by_gender.ipynb
  examples/reference/elements/bokeh/Labels.ipynb
  examples/reference/elements/matplotlib/Labels.ipynb
  holoviews/element/annotation.py
  holoviews/plotting/bokeh/__init__.py
  holoviews/plotting/bokeh/annotation.py
  holoviews/plotting/bokeh/element.py
  holoviews/plotting/mpl/__init__.py
  holoviews/plotting/mpl/annotation.py
  tests/plotting/bokeh/testlabels.py
  tests/plotting/matplotlib/testlabels.py
Labels: feature, plotting

#2522 Disabled auto-indexable on Dataset baseclass
  holoviews/core/data/__init__.py
  holoviews/element/chart.py
  tests/core/data/testdataset.py
Labels: API, data

#2524 Now reading in README.md for PyPI description
  setup.py
Labels: packaging

#2519 Fixed bugs using groupby on transposed gridded data
  holoviews/core/data/__init__.py
  holoviews/core/data/grid.py
  tests/core/data/testdataset.py
Labels: bug, data

#2525 Fixes for TriMesh rasterization
  holoviews/operation/datashader.py
  tests/operation/testdatashader.py
Labels: bug

#2530 Support index_position for hv.Table
  holoviews/plotting/bokeh/tabular.py
Labels: bokeh, enhancement

#2531 Fixed issues in notebook plot cleanup
  holoviews/ipython/__init__.py
  holoviews/plotting/widgets/widgets.js
Labels: bug, notebook

#2536 Use HoloViews.plot_index to track bokeh models
  holoviews/plotting/bokeh/bokehwidgets.js
  holoviews/plotting/widgets/widgets.js
Labels: bug, notebook

#2328 Add Sankey Element
  examples/assets/energy.csv
  examples/gallery/demos/bokeh/energy_sankey.ipynb
  examples/gallery/demos/matplotlib/energy_sankey.ipynb
  examples/reference/elements/bokeh/Sankey.ipynb
  examples/reference/elements/matplotlib/Sankey.ipynb
  holoviews/core/util.py
  holoviews/element/__init__.py
  holoviews/element/graphs.py
  holoviews/element/sankey.py
  holoviews/element/stats.py
  holoviews/plotting/__init__.py
  holoviews/plotting/bokeh/__init__.py
  holoviews/plotting/bokeh/graphs.py
  holoviews/plotting/bokeh/sankey.py
  holoviews/plotting/mpl/__init__.py
  holoviews/plotting/mpl/sankey.py
  tests/plotting/bokeh/testgraphplot.py
  tests/plotting/bokeh/testsankey.py
  tests/plotting/matplotlib/testsankey.py
Labels: feature, plotting

#2539 Fixed handling of categorical colormapping
  holoviews/plotting/bokeh/element.py
  holoviews/plotting/mpl/chart.py
  holoviews/plotting/mpl/element.py
  holoviews/plotting/util.py
Labels: plotting

#2541 Fixed mimebundle None handling
  holoviews/core/options.py
  holoviews/ipython/display_hooks.py
Labels: bug, notebook

#2543 Add environment variable to combine mime bundle into HTML
  holoviews/core/util.py
  holoviews/ipython/__init__.py
  holoviews/ipython/display_hooks.py
Labels: docs

#2547 Fixed contours operation empty level bug
  holoviews/operation/element.py
Labels: bug

#2545 Fixed bug in GridInterface.groupby
  holoviews/core/data/grid.py
Labels: bug, data

#2546 Handle empty datasource updates when streaming
  holoviews/plotting/bokeh/plot.py
Labels: bokeh, bug

#2540 Fixed Sankey and documentation examples
  examples/reference/elements/bokeh/Histogram.ipynb
  examples/reference/elements/matplotlib/Histogram.ipynb
  examples/reference/elements/matplotlib/Sankey.ipynb
  holoviews/element/sankey.py
  holoviews/plotting/__init__.py
  tests/element/teststatselements.py
Labels: bug, docs

#2552 Fixes for cleanup of LayoutPlots
  holoviews/plotting/bokeh/plot.py
  holoviews/plotting/bokeh/renderer.py
  holoviews/plotting/plot.py
Labels: bug, plotting

#2554 Ensure all tabular interfaces treat empty list equally
  holoviews/core/data/pandas.py
  tests/core/data/testdataset.py
Labels: data

#2556 Added workaround for dask interface select issue
  holoviews/core/data/dask.py
  holoviews/core/util.py
Labels: bug, data

#2542 XArray: enable overriding dimension names
  holoviews/core/data/xarray.py
  tests/core/data/testdataset.py
Labels: bug, data

#2553 Use different bokeh Documents in notebook context
  holoviews/plotting/bokeh/renderer.py
  tests/plotting/bokeh/testrenderer.py
  tests/plotting/bokeh/testserver.py
Labels: bokeh, bug

#2558 Fix for shared_datasource
  holoviews/plotting/bokeh/util.py
Labels: bokeh, bug

#2574 Add support for HTML export after moving to MIME bundle
  holoviews/plotting/bokeh/bokehwidgets.js
  holoviews/plotting/bokeh/renderer.py
  holoviews/plotting/renderer.py
Labels: bug, notebook

#2575 Fixed recursive comparison issue in Sankey operation
  holoviews/element/sankey.py
Labels: bug

#2583 Add support for looping edges in Chords element
  holoviews/element/graphs.py
  tests/element/testgraphelement.py
Labels: bug

#2561 Updated bokeh version used on travis
  .travis.yml
  conda.recipe/meta.yaml
  holoviews/plotting/bokeh/hex_tiles.py
  setup.py
  tests/testbokehcallbacks.py
Labels: testing

#2584 Fixed unreferenced variable in matplotlib colormapping
  holoviews/plotting/mpl/element.py
  tests/plotting/matplotlib/testelementplot.py
Labels: bug, mpl

#2579 Restored old xarray coord order inference behavior
  holoviews/core/data/xarray.py
  tests/core/data/testdataset.py
Labels: data, regression

#2588 Allowing use of upcoming 0.12.16 bokeh release
  conda.recipe/meta.yaml
Labels: packaging

#2589 Support Plot in ipython display function
  holoviews/ipython/display_hooks.py
Labels: enhancement, notebook

#2590 Added CHANGELOG for 1.10.1
  CHANGELOG.md
Labels: packaging

#2597 Add support for Tool.renderers == 'auto'
  holoviews/plotting/bokeh/element.py
  holoviews/plotting/bokeh/graphs.py
Labels: bokeh, bug

#2598 Generalized display function again
  holoviews/ipython/display_hooks.py
Labels: notebook, regression

#2607 Handled signal interrupt in bokeh apps
  holoviews/plotting/bokeh/renderer.py
Labels: bokeh, enhancement

#2612 Add update_display_data event handler
  holoviews/plotting/widgets/widgets.js
Labels: enhancement, notebook

#2620 Handle HoverTool with string tooltip
  holoviews/plotting/bokeh/element.py
  tests/plotting/bokeh/testheatmapplot.py
Labels: bokeh, bug

#2617 Added validation for Image bounds
  holoviews/element/raster.py
  tests/core/data/testimageinterfaces.py
Labels: bug, data

#2604 Deal with clashing style and plot options
  holoviews/plotting/bokeh/chart.py
  holoviews/plotting/bokeh/heatmap.py
  holoviews/plotting/bokeh/stats.py
  holoviews/plotting/mpl/__init__.py
  holoviews/plotting/mpl/annotation.py
  holoviews/plotting/plotly/chart.py
  holoviews/util/__init__.py
  tests/plotting/__init__.py
  tests/plotting/bokeh/testplot.py
  tests/plotting/matplotlib/testplot.py
  tests/plotting/plotly/testplot.py
Labels: deprecated, options

#2634 Fixed PlotSelector bug in matplotlib colormapping
  holoviews/plotting/mpl/chart.py
  holoviews/plotting/plot.py
Labels: bug, mpl

#2630 Fix for empty options method call
  holoviews/core/dimension.py
  tests/core/teststoreoptions.py
Labels: bug, options

#2625 Added support for Image hover
  holoviews/plotting/bokeh/raster.py
Labels: bokeh, enhancement

#2636 Fixed bug inverting matplotlib heatmap
  holoviews/element/comparison.py
  holoviews/plotting/mpl/heatmap.py
  tests/plotting/matplotlib/testheatmapplot.py
Labels: bug, mpl
