Repository holoviz/holoviews, pull requests merged in 2019-12, with the labels that each got.

#4103 Ensure bokeh server events are handled on non-server infrastructure
  holoviews/plotting/bokeh/callbacks.py
  holoviews/plotting/plot.py
Labels: bokeh

#4084 Add Annotators
  doc/user_guide/index.rst
  examples/user_guide/Annotators.ipynb
  holoviews/annotators.py
  holoviews/core/data/interface.py
  holoviews/element/path.py
  holoviews/plotting/bokeh/callbacks.py
  holoviews/plotting/bokeh/element.py
  holoviews/plotting/links.py
  holoviews/streams.py
  holoviews/tests/plotting/bokeh/testcallbacks.py
  holoviews/tests/test_annotators.py
Labels: feature, ready

#4122 Updated tests after fix to datashader line aggregation
  holoviews/tests/operation/testdatashader.py
Labels: testing

#4126 Fix XArrayInterface.aggregate handling of **kwargs
  holoviews/core/data/xarray.py
Labels: data

#4120 Add spatialpandas interface and polygon rasterization
  examples/user_guide/Geometry_Data.ipynb
  holoviews/annotators.py
  holoviews/core/data/__init__.py
  holoviews/core/data/dictionary.py
  holoviews/core/data/interface.py
  holoviews/core/data/multipath.py
  holoviews/core/data/spatialpandas.py
  holoviews/element/comparison.py
  holoviews/element/graphs.py
  holoviews/element/path.py
  holoviews/operation/datashader.py
  holoviews/plotting/bokeh/callbacks.py
  holoviews/plotting/bokeh/element.py
  holoviews/plotting/bokeh/path.py
  holoviews/plotting/bokeh/util.py
  holoviews/plotting/mpl/element.py
  holoviews/plotting/mpl/path.py
  holoviews/plotting/plot.py
  holoviews/tests/core/data/testgridinterface.py
  holoviews/tests/core/data/testmultiinterface.py
  holoviews/tests/core/data/testspatialpandas.py
  holoviews/tests/element/testcomparisonchart.py
  holoviews/tests/element/testpaths.py
  holoviews/tests/operation/testdatashader.py
  holoviews/tests/plotting/bokeh/testlinks.py
  holoviews/tests/plotting/bokeh/testpathplot.py
  holoviews/tests/plotting/matplotlib/testpathplot.py
  holoviews/tests/plotting/matplotlib/testutils.py
  holoviews/util/transform.py
  setup.py
Labels: data, feature, ready
