Repository holoviz/holoviews, pull requests merged in 2019-01, with the labels that each got.

#3377 Fixed bug in non-colormapped SideHistogram
  holoviews/plotting/mpl/chart.py
Labels: regression

#3371 Fixed bug updating Raster/Image/RGB alpha
  holoviews/plotting/bokeh/raster.py
Labels: bokeh, bug

#3364 Further replacement of .options with .opts
  examples/gallery/demos/bokeh/image_range_tool.ipynb
  examples/gallery/demos/bokeh/lesmis_example.ipynb
  examples/gallery/demos/matplotlib/autompg_violins.ipynb
  examples/gallery/demos/matplotlib/hextile_movie_ratings.ipynb
  examples/gallery/demos/matplotlib/texas_choropleth_example.ipynb
  examples/gallery/demos/matplotlib/us_unemployment.ipynb
Labels: docs

#3392 Pin numpy to <1.16.0
  environment.yml
Labels: testing

#3389 Sync axis and grid tickers
  holoviews/plotting/bokeh/element.py
  holoviews/tests/plotting/bokeh/testelementplot.py
Labels: bokeh

#3398 Allow more customizations of bokeh gridlines
  holoviews/plotting/bokeh/element.py
Labels: bokeh, enhancement

#3397 Fixed bug aggregating empty BoxWhisker/Violin
  holoviews/plotting/bokeh/stats.py
Labels: bokeh, bug

#3396 Process colorbar option on CompositePlots
  holoviews/plotting/bokeh/element.py
Labels: bokeh, bug

#3400 Ensure xarray interface retains metadata
  holoviews/core/data/xarray.py
Labels: data

#3427 Fix of timestamp selections in streams
  holoviews/plotting/bokeh/util.py
Labels: bug

#3429 Allow defining hooks on backend load
  holoviews/util/__init__.py
Labels: feature

#3432 Improved attribute handling in Graph.from_networkx
  holoviews/element/graphs.py
  holoviews/tests/element/testgraphelement.py
Labels: enhancement

#3435 Fixed Overlay constructor bug
  holoviews/core/overlay.py
  holoviews/tests/core/testcomposites.py
Labels: bug, options

#3442 Fixes for style updates in matplotlib
  holoviews/plotting/mpl/chart.py
  holoviews/plotting/mpl/element.py
  holoviews/tests/plotting/matplotlib/testpointplot.py
Labels: mpl, regression
